.first-buttom{
    margin-top:83px;
    text-align: center;width: 235px;height: 48px;
    background-color: #50c3af;
    border-radius:20px;
    line-height: 50px;
    color: #f5f5f5;
}
.first-buttom:hover{
    opacity:0.6;
}
.first_page{
    background-image: url("bg.png");
    width: 100%; 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 560px;
}
img {
    display: block;
    border: none;
}
.Elena{
    padding-top: 105px;
    padding-left:348px;
    padding-right: 343px;
    display: flex;
    border: none;
    justify-content: center;
}
.home{
    display:flex;
    justify-content: center;
    padding-top:47px;
}
a{
    text-decoration: none;
}
body{
    padding:0;
    margin:0;
}

.wrapper{
    width: 589px;
    margin: 0 auto;
}
.second{
    height: 286px;
    width: 100%;
    background-color: #eaeaeb;
}
.seconda{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.third{
    background-color: #f5f5f5;
    height: 500px;
    width: 100%;
}
.thirda{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.read-more{
    color: #f5f5f5;
    width: 98px;
    height: 35px;
    background-color: #50c3af;
    border-radius: 20px;
    margin-top:34px;
    text-align: center;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
}
.read-more:hover{
opacity: 0.6;
}
.read-more-gray{
    color: #f5f5f5;
    width: 98px;
    height: 35px;
    background-color: #d2d5da;
    border-radius: 20px;
    text-align: center;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
}
.read-more-gray:hover{
    opacity: 0.6;
}
.fourth{
    height: 328px;
    background-color: #eaeaeb;
}
.fifth{
    background-color: #f5f5f5;
}
.sixth{
    height: 321px;
    background-color: #eaeaeb;
}
.seventh{
    height: 338px;
}
.eighth{
    height: 221px;
    background-color: #50c3af;
}
.nineth{
    height:83px;
}
/* ///////////////////////////////////////////////////////// */
.first-lorem{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 168px;
    height: 37px;
    color: #787b80;
}
.third-lorem{
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 31px;
    text-align: left;
}
.fourth-lorem{
    margin-top:26px;
    padding-bottom: 38px;
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.fifth-lorem{
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 28px;
}
.sixth-lorem{
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top:28px;
}
.seventh-lorem{
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 29px;
}
.home-h1{
    color: white;
    display: flex;
    justify-content: center;padding-top: 43px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;line-height: 24px;
    text-transform: uppercase;
}
.first-h1{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-left:20px;
}
.second-h1{
    font-family: 'PT Sans', sans-serif;
   margin-top:32px;
   text-transform: uppercase;
    color: #384048;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
}
.first-hr{
    opacity: 0.06;
    margin-top:21px;
    margin-bottom: 22px;
}
.third-hr{
    opacity: 0.06;
    margin-top:23px;
    margin-bottom: 31px;
}
.fourth-hr{
    opacity: 0.06;
}
.third-h1{
    font-family: 'PT Sans', sans-serif;
   margin-top:32px;
   text-transform: uppercase;
    color: #384048;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
    text-align: left;
}
.fourth-h1{ 
    margin-top: 60px;
    margin-left: 15px;
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.fifth-h1{
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.sixth-h1{
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top:60px;
    padding-bottom: 19px;
}
.seventh-h1{
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 60px;
    padding-bottom: 18px;
}
.eighth-h1{
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 53px;
    padding-bottom: 20px;
}
.nineth-h1{
    margin-top: 30px;
    color: #aaacaf;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.first-img{
   margin-left:55px;
   padding-top:55px;
   width: 39px;
   height: 42px;
}
.third-img{
    padding-top:63px;
}
.fourth-img{
    width: 24px;
    height: 23px;
    margin-top: 60px;
}
.fifth-img{
    margin-top: 58px;
    padding-bottom: 41px;
}
.sixth-img{
    width: 24px;
    height: 19px;
    margin-top:60px;
    padding-right:14px;
}
.seventh-img{
    margin-top:61px;
    margin-bottom: 62px;
}
.eighth-img{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.star{
   width: 17px;
   height: 16px;
   padding-right:10px;
   margin-top:3px;
}
.nine-img{
    margin-top:30px;
    padding-left:20px;
}
.links-check{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.blu{
    color: #50c3af
}
.have-a-good-day{
    padding-top: 79px; 
    padding-left:348px; 
    padding-right: 343px;display: flex; 
    border: none;
    justify-content: center;
}
.get-your-copy{
    display: flex;
    justify-content: center;
    color: #f5f5f5;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.fourthb{
    display: flex;
}
.fiftha{
    display: flex;
    height: 441px;
    justify-content: space-between;
}
.ninetha{
    display:flex;
    justify-content:space-between;
}
.line1{
    height:2px;margin-top:10px;width: 101px;padding-right:10px;
}
.line2{
    padding-left:10px;
    width: 101px;
    height:2px;
    margin-top:10px;
}
